* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: black;
    overflow: hidden;
}


.player {
    width: 100vw;
    height: 100vh;
    position: relative;
}


#photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;

    transition: opacity 1s ease, transform 8s ease;
    animation: zoom 8s infinite alternate;
}


.player::after {

    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.1)
    );

}


.overlay {

    position: absolute;

    z-index: 2;

    bottom: 15%;

    width: 100%;

    text-align: center;

}


#lyric {

    color:white;

    font-size: 26px;

    font-family: Arial, sans-serif;

    font-weight: bold;

    padding: 0 30px;

    text-shadow:
    0 0 10px black,
    0 0 20px black;

    animation: muncul 1s;

}


#startButton {

    position:absolute;

    z-index:3;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);


    padding:15px 35px;

    border:none;

    border-radius:50px;

    font-size:18px;

    cursor:pointer;

}



@keyframes zoom {

    from {
        transform:scale(1);
    }

    to {
        transform:scale(1.08);
    }

}


@keyframes muncul {

    from {

        opacity:0;
        transform:translateY(20px);

    }

    to {

        opacity:1;
        transform:translateY(0);

    }

}
