body {
    background:red !important;
}

* {

margin:0;
padding:0;
box-sizing:border-box;

}



body {

height:100vh;
overflow:hidden;
background:black;
font-family:Arial,sans-serif;

}



.player {

height:100vh;
width:100vw;
position:relative;

}



/* BACKGROUND */

.background {

position:absolute;
inset:-40px;

background:url("assets/bg.jpg");

background-size:cover;
background-position:center;


filter:
blur(20px)
brightness(.45);


transform:scale(1.2);

}



/* POLAROID */

.photo-card {

position:absolute;

width:360px;

padding:15px 15px 40px;


background:#fff;


top:45%;
left:50%;


transform:
translate(-50%,-50%)
rotate(-5deg);


box-shadow:
0 25px 60px black;


z-index:2;


animation:
float 5s infinite alternate;

}



#photo {

width:100%;

height:430px;

object-fit:cover;

}



@keyframes float {


from {

transform:
translate(-50%,-50%)
rotate(-5deg);

}


to {

transform:
translate(-50%,-54%)
rotate(5deg);

}


}



/* TRANSISI FOTO */


.photo-card.change {


animation:
paperMove 1s;


}



@keyframes paperMove {


0% {

opacity:0;

transform:

translate(-100%,-40%)
rotate(-30deg)
scale(.7);

}



100% {


opacity:1;


transform:

translate(-50%,-50%)
rotate(-5deg)
scale(1);


}


}



/* LIRIK */


.lyrics {


position:absolute;

bottom:12%;

width:100%;


text-align:center;


z-index:3;

padding:20px;

}



#lyric {


color:white;

font-size:28px;

font-weight:bold;


text-shadow:

0 0 10px black,
0 0 30px black;


animation:
textIn .8s;


}



@keyframes textIn {


from {

opacity:0;

transform:
translateY(30px);

}


to {

opacity:1;

transform:
translateY(0);

}


}



/* BUTTON */


#startButton {


position:absolute;

z-index:5;


top:50%;
left:50%;


transform:
translate(-50%,-50%);



padding:15px 40px;


border:none;

border-radius:50px;


font-size:18px;


cursor:pointer;


}
